@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default, dark --prefersdark,dark;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #2C3E50;
  --color-secondary: #1ABC9C;
  --color-accent: #F39C12;
}

.active{
  @apply  text-secondary
}